.left {
  width: 400px;
  height: 100vh;
}

.right {
  width: 1000px;
}
.side-bar {
  padding: 10px;
}
/* div, article, section {
  border: solid thin black;
} */

main {
  margin: 0 auto;
  width: 1000px;
  height: 100%;
  padding: 10px;
  display: flex;
}

nav {
  border-bottom-style: solid thin black;
  width: 1000px;
  margin: 0 auto;
}

.linebreak {
  height: 20px;
  width: 1000px;
  margin: 0 auto;
  background-image: url(img/classic-bus.png);
  background-size: contain;
}

h1 {
  display: inline-block;
  font-size: 100px;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
}

h2 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
}

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
}

.icon {
  height: 100px;
  display: inline;
}

.product {
  width: 200px;
  height: 200px;
  object-fit: contain;
  border: medium black solid;
  border-radius: 5px;
  display: inline-block;
  margin: auto;
}

.center-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product:hover {
  box-shadow: 10px 10px black;
}

button {
  border: medium black solid;
  border-radius: 5px;
  float: left;
  display: inline-block;
  align-items: center;
  margin: 15px 15px 15px 257px;
  width: 200px;
  height: 50px;
  font-size: 24px;
}

button:hover {
  box-shadow: 2px 2px black;
  width: 200px;
  height: 50px;
  font-size: 24px;
}

article {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  padding: 80px 50px 50px 50px;
}